/* Style the table with css (to make the table a bit more pretty) */

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

h1 {
    color: #377ba8;
    margin: 0;
    border-bottom: 2px solid #eee;
}

table, th, td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

th {
    background-color: #add8e6;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	    { background-color:#fff; }

tr:hover                { background-color: #ffff99;}
