<!DOCTYPE html>

<html>
    <head>
        <!--pull css from the style sheet style.css in the static directory-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1 style="color:dodgerblue;text-align:center;"> Bioinformatics posts </h1>

        <table id="table_id" class="display">
            <thead>
                <tr>
                    {% for column in list_columns %}
                        <th> {{ column}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        {% for value in record %}
                        <td> {{ value }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
